{{
response.files.insert(6, URL('static', 'js/citation-0.3.3.min.js'))
#response.files.insert(6, URL('static', 'js/vue.js'))
response.files.insert(6, URL('static', 'css/citations-form.css'))
}}
{{extend 'layout.html'}}


    <div id="citations-app" data-citations-format="vancouver" data-citations-api-url="{{=URL('api', host=True)}}" class="container">

      <div class="row">
        <div class="col-md-12">
          <button id="new-citation-button" type="button" class="btn btn-primary" aria-label="New" @click="newCitation()">New</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div id="citations-list" v-html="citations">
          </div>

        </div>
      </div>
      </div>

    <div id="citation-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="frmCitationType" name="frmCitationType" class="form-horizontal">

              <div class="control-group">
                <label class="control-label" for="selectCitationType">Type</label>
                <div class="controls">
                  <select id="selectCitationType">
                    <option disabled selected value> -- select an option -- </option>
                    <option id="article" value="article">article</option>
                    <option id="article-journal" value="article-journal">article-journal</option>
                    <option id="article-magazine" value="article-magazine">article-magazine</option>
                    <option id="article-newspaper" value="article-newspaper">article-newspaper</option>
                    <option id="bill" value="bill">bill</option>
                    <option id="book" value="book">book</option>
                    <option id="broadcast" value="broadcast">broadcast</option>
                    <option id="chapter" value="chapter">chapter</option>
                    <option id="dataset" value="dataset">dataset</option>
                    <option id="entry" value="entry">entry</option>
                    <option id="entry-dictionary" value="entry-dictionary">entry-dictionary</option>
                    <option id="entry-encyclopedia" value="entry-encyclopedia">entry-encyclopedia</option>
                    <option id="figure" value="figure">figure</option>
                    <option id="graphic" value="graphic">graphic</option>
                    <option id="interview" value="interview">interview</option>
                    <option id="legal_case" value="legal_case">legal_case</option>
                    <option id="legislation" value="legislation">legislation</option>
                    <option id="manuscript" value="manuscript">manuscript</option>
                    <option id="map" value="map">map</option>
                    <option id="motion_picture" value="motion_picture">motion_picture</option>
                    <option id="musical_score" value="musical_score">musical_score</option>
                    <option id="pamphlet" value="pamphlet">pamphlet</option>
                    <option id="paper-conference" value="paper-conference">paper-conference</option>
                    <option id="patent" value="patent">patent</option>
                    <option id="personal_communication" value="personal_communication">personal_communication</option>
                    <option id="post" value="post">post</option>
                    <option id="post-weblog" value="post-weblog">post-weblog</option>
                    <option id="report" value="report">report</option>
                    <option id="review" value="review">review</option>
                    <option id="review-book" value="review-book">review-book</option>
                    <option id="song" value="song">song</option>
                    <option id="speech" value="speech">speech</option>
                    <option id="thesis" value="thesis">thesis</option>
                    <option id="treaty" value="treaty">treaty</option>
                    <option id="webpage" value="webpage">webpage</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="selectCitationPart">Parte</label>
                <div class="controls">
                  <select id="selectCitationPart">
                    <option id="author" value="author">authors</option>
                    <option id="categories" value="categories">categories</option>
                    <option id="language" value="language">language</option>
                    <option id="journalAbbreviation" value="journalAbbreviation">journalAbbreviation</option>
                    <option id="shortTitle" value="shortTitle">shortTitle</option>
                    <option id="collection-editor" value="collection-editor">collection-editor</option>
                    <option id="composer" value="composer">composer</option>
                    <option id="container-author" value="container-author">container-author</option>
                    <option id="director" value="director">director</option>
                    <option id="editor" value="editor">editor</option>
                    <option id="editorial-director" value="editorial-director">editorial-director</option>
                    <option id="interviewer" value="interviewer">interviewer</option>
                    <option id="illustrator" value="illustrator">illustrator</option>
                    <option id="original-author" value="original-author">original-author</option>
                    <option id="recipient" value="recipient">recipient</option>
                    <option id="reviewed-author" value="reviewed-author">reviewed-author</option>
                    <option id="translator" value="translator">translator</option>
                    <option id="accessed" value="accessed">accessed</option>
                    <option id="container" value="container">container</option>
                    <option id="event-date" value="event-date">event-date</option>
                    <option id="issued" value="issued">issued</option>
                    <option id="original-date" value="original-date">original-date</option>
                    <option id="submitted" value="submitted">submitted</option>
                    <option id="abstract" value="abstract">abstract</option>
                    <option id="annote" value="annote">annote</option>
                    <option id="archive" value="archive">archive</option>
                    <option id="archive_location" value="archive_location">submitted</option>
                    <option id="archive-place" value="archive-place">archive-place</option>
                    <option id="authority" value="authority">authority</option>
                    <option id="call-number" value="call-number">call-number</option>
                    <option id="chapter-number" value="chapter-number">chapter-number</option>
                    <option id="citation-number" value="citation-number">citation-number</option>
                    <option id="citation-label" value="citation-label">citation-label</option>
                    <option id="collection-number" value="collection-number">collection-number</option>
                    <option id="collection-title" value="collection-title">collection-title</option>
                    <option id="container-title" value="container-title">container-title</option>
                    <option id="container-title-short" value="container-title-short">container-title-short</option>
                    <option id="dimensions" value="dimensions">dimensions</option>
                    <option id="DOI" value="DOI">DOI</option>
                    <option id="edition" value="edition">edition</option>
                    <option id="event" value="event">event</option>
                    <option id="event-place" value="event-place">event-place</option>
                    <option id="first-reference-note-number" value="first-reference-note-number">first-reference-note-number</option>
                    <option id="genre" value="genre">genre</option>
                    <option id="ISBN" value="ISBN">ISBN</option>
                    <option id="ISSN" value="ISSN">ISSN</option>
                    <option id="issue" value="issue">issue</option>
                    <option id="jurisdiction" value="jurisdiction">jurisdiction</option>
                    <option id="keyword" value="keyword">keyword</option>
                    <option id="locator" value="locator">locator</option>
                    <option id="medium" value="medium">medium</option>
                    <option id="note" value="note">note</option>
                    <option id="number" value="number">number</option>
                    <option id="number-of-pages" value="number-of-pages">number-of-pages</option>
                    <option id="number-of-volumes" value="number-of-volumes">number-of-volumes</option>
                    <option id="original-publisher" value="original-publisher">original-publisher</option>
                    <option id="original-publisher-place" value="original-publisher-place">original-publisher-place</option>
                    <option id="original-title" value="original-title">original-title</option>
                    <option id="page" value="page">page</option>
                    <option id="page-first" value="page-first">page-first</option>
                    <option id="PMCID" value="PMCID">PMCID</option>
                    <option id="PMID" value="PMID">PMID</option>
                    <option id="publisher" value="publisher">publisher</option>
                    <option id="publisher-place" value="publisher-place">publisher-place</option>
                    <option id="references" value="references">references</option>
                    <option id="reviewed-title" value="reviewed-title">reviewed-title</option>
                    <option id="scale" value="scale">scale</option>
                    <option id="section" value="section">section</option>
                    <option id="source" value="source">source</option>
                    <option id="status" value="status">status</option>
                    <option id="title" value="title">title</option>
                    <option id="title-short" value="title-short">title-short</option>
                    <option id="URL" value="URL">URL</option>
                    <option id="version" value="version">version</option>
                    <option id="volume" value="volume">volume</option>
                    <option id="year-suffix" value="year-suffix">year-suffix</option>

                  </select>

                  <button id="btnAddCitationPart" class="btn">Add</button>
                </div>
              </div>

            </form>

            <hr />

            <form id="frmCitation" class="form-horizontal">
              <input name="id" type="hidden">
              <input name="type" type="hidden">
              <input name="_full_text" type="hidden">
              <div id="citations-parts-container"></div>
            </form>

            <hr />

            <div id="citation-preview-container"></div>

          </div>

          <div class="modal-footer">
            <button id="btnFormCreate" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button id="btnFormPreview" class="btn">Previsualizar</button>
            <button id="btnFormClean" class="btn">Limpiar formulario</button>
            <button id="btnFormReloadCitations" class="btn btn-primary">Crear nueva cita</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          </div>
        </div>
      </div>
    </div>


{{block page_js}}
    <script src="{{=URL('static', 'js/citations-form.js')}}"></script>
{{end page_js}}